@charset "UTF-8";

.section-head {
	margin-top: 110px;
}

.icon-hover:hover {
	border-color: #3b71ca !important;
	background-color: white !important;
}

.icon-hover:hover i {
	color: #3b71ca !important;
}